# Newline format in Windows(CR-LF)
*.bat text eol=crlf
*.config text eol=crlf
*.cs text eol=crlf
*.csproj text eol=crlf
*.manifest text eol=crlf
*.sln text eol=crlf
Windows/* eol=crlf

# Newline format in Android/Linux/macOS(LF)
*.bats text eol=lf
*.orig text eol=lf
*.plist text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.torestore text eol=lf
Android/* eol=lf
Linux/* eol=lf
Mac/* eol=lf

# Binary files
*.diagcab binary
*.dll binary
*.exe binary
*.msi binary
*.zip binary
Mac/libexec/* binary
Windows/Tools/Certutil/* binary
Windows/Tools/Fixit/* binary
Windows/Tools/SoftCertPolicyAppender/Binary/* binary
Windows/Tools/SoftCertPolicyAppender/Source/_libs/* binary
