<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>trustList</key>
	<dict>
		<key>02C2D931062D7B1DC2A5C7F5F0685064081FB221</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-11-30T23:46:14Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>0B972C9EA6E7CC58D93B20BF71EC412E7209FABF</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-11-30T23:46:14Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>0F36385B811A25C39B314E83CAE9346670CC74B4</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-11-30T23:46:14Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>2290C311EA0F3F57E06DF45B698E18E828E59BC3</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-11-30T23:46:14Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>27A29C3A8B3261770E8B59448557DC9E9339E68C</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-11-30T23:46:14Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>30F3B3ADC6E570BDA606B9F96DE24190CE262C67</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-11-30T23:46:14Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>3120F295417730075F8CD42D0CAE008EB5726EF8</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-11-30T23:46:14Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>316076F2866588DBB233C7F9EB68B58125150C21</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-11-30T23:46:14Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>4F99AA93FB2BD13726A1994ACE7FF005F2935D1E</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-11-30T23:46:14Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>561422647B89BE22F203EBCAEF52B5007227510A</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-11-30T23:46:14Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>6856BB1A6C4F76DACA362187CC2CCD484EDDC25D</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-11-30T23:46:14Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>742CA08594ABA62CE76E94386EA75A98712F02EA</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-11-30T23:46:14Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>7514436E903C901069980499CA70DE74FC06C83C</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-11-30T23:46:14Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>75F411595FE9A21A17A4967C7B666E5152791A32</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-11-30T23:46:14Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>7A4AA61E2A88704115E47748D8647DAEE6837559</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-11-30T23:46:14Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>8250BED5A214433A66377CBC10EF83F669DA3A67</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-11-30T23:46:14Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>8BAF4C9B1DF02A92F7DA128EB91BACF498604B6F</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-11-30T23:46:14Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>98A04E4163357790C4A79E6D713FF0AF51FE6927</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-11-30T23:46:14Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>A8F2DFE36AE0CC2DB9DD38347D30AED9551DD25A</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-11-30T23:46:14Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>AB702CDF18EBE8B438C52869CD4A5DEF48B40E33</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-11-30T23:46:14Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>AF8484379E2A512CE9074AEBD6B900ED11A70DF7</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-11-30T23:46:14Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>B9C9F58B3BBEF575E2B58328770E7B0076C40B5E</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-11-30T23:46:14Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>C59DD79CC42245AC7216FDC18524F7D1E4CF1E92</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-11-30T23:46:14Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>C864484869D41D2B0D32319C5A62F9315AAF2CBD</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-11-30T23:46:14Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>DC6EE6EDC4C078E1B2C12F6D1985000E27CFD318</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-11-30T23:46:14Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>E2B8294B5584AB6B58C290466CAC3FB8398F8483</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-11-30T23:46:14Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>EABDA240440ABBD694930A01D09764C6C2D77966</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-11-30T23:46:14Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>F468B5F3FED807974476A22B32EA3137D924F7BA</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-11-30T23:46:14Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>F6BEADB9BC02E0A152D71C318739CDECFC1C085D</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-11-30T23:46:14Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>trustVersion</key>
	<integer>1</integer>
</dict>
</plist>
