<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>trustList</key>
	<dict>
		<key>06143151E02B45DDBADD5D8E56530DAAE328CF90</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>0B972C9EA6E7CC58D93B20BF71EC412E7209FABF</key>
		<dict>
			<key>issuerName</key>
			<data>
			MDoxCzAJBgNVBAYTAkNOMREwDwYDVQQKEwhVbmlUcnVzdDEYMBYG
			A1UEAxMPVUNBIEdsb2JhbCBSb290
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			CA==
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>1632478D89F9213A92008563F5A4A7D312408AD6</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>2290C311EA0F3F57E06DF45B698E18E828E59BC3</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>27A29C3A8B3261770E8B59448557DC9E9339E68C</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>30F3B3ADC6E570BDA606B9F96DE24190CE262C67</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>3120F295417730075F8CD42D0CAE008EB5726EF8</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>316076F2866588DBB233C7F9EB68B58125150C21</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>337DF96418F08A9355870513AFCEBDC68BCED767</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>339D811FEC673E7F731307A34C7C7523ABBE7DFE</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>33A4D8BC38608EF52EF0E28A35091E9250907FB9</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>381CBC5048AFD9A02D3E5882D5F22D962B1A5F72</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>38CFE78D9F1F0B0637AFCAAA3D5549D87C0AA1D0</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>398EBE9C0F46C079C3C7AFE07A2FDD9FAE5F8A5C</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>3E14B8BD6C568657D852D95D387249AE857B4A39</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>3F3E6C4B33802A2FEA46C5CACA14770A40018899</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>46A762F3C3CF3732DE22A8BA1EBBA3BC048F9B8C</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>4F99AA93FB2BD13726A1994ACE7FF005F2935D1E</key>
		<dict>
			<key>issuerName</key>
			<data>
			MIGKMQswCQYDVQQGEwJDTjEyMDAGA1UECgwpQ2hpbmEgSW50ZXJu
			ZXQgTmV0d29yayBJbmZvcm1hdGlvbiBDZW50ZXIxRzBFBgNVBAMM
			PkNoaW5hIEludGVybmV0IE5ldHdvcmsgSW5mb3JtYXRpb24gQ2Vu
			dGVyIEVWIENlcnRpZmljYXRlcyBSb290
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			SJ8AAQ==
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>561422647B89BE22F203EBCAEF52B5007227510A</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>56FAADDC596DCF78D585D83A35BC04B690D12736</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>5B404B6DB43E1F71557F75552E7668289B1B6309</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>67650DF17E8E7E5B8240A4F4564BCFE23D69C6F0</key>
		<dict>
			<key>issuerName</key>
			<data>
			MF4xCzAJBgNVBAYTAlRXMSMwIQYDVQQKDBpDaHVuZ2h3YSBUZWxl
			Y29tIENvLiwgTHRkLjEqMCgGA1UECwwhZVBLSSBSb290IENlcnRp
			ZmljYXRpb24gQXV0aG9yaXR5
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			Fci9ZUdcr7iXAF7kBtK8nQ==
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>6856BB1A6C4F76DACA362187CC2CCD484EDDC25D</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>692790DA5189529CC5CE1E16E984277A03023E99</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>6A174570A916FBE84453EED3D070A1D8DA442829</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>6D5A18050D56BFDE525CBE89E8C45DD1B53D12E9</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>7514436E903C901069980499CA70DE74FC06C83C</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>75F411595FE9A21A17A4967C7B666E5152791A32</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>7A4AA61E2A88704115E47748D8647DAEE6837559</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>804E5FB7DE84F5F5B28347233EAF07846B6070D3</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>8250BED5A214433A66377CBC10EF83F669DA3A67</key>
		<dict>
			<key>issuerName</key>
			<data>
			MDMxCzAJBgNVBAYTAkNOMREwDwYDVQQKEwhVbmlUcnVzdDERMA8G
			A1UEAxMIVUNBIFJvb3Q=
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			CQ==
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>868241C8B85AF79E2DAC79EDADB723E82A36AFC3</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>89C32E6B524E4D65388B9ECEDC637134ED4193A3</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>8BAF4C9B1DF02A92F7DA128EB91BACF498604B6F</key>
		<dict>
			<key>issuerName</key>
			<data>
			MDIxCzAJBgNVBAYTAkNOMQ4wDAYDVQQKEwVDTk5JQzETMBEGA1UE
			AxMKQ05OSUMgUk9PVA==
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			STMAAQ==
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>9CBB4853F6A4F6D352A4E83252556013F5ADAF65</key>
		<dict>
			<key>issuerName</key>
			<data>
			MFExCzAJBgNVBAYTAlRXMRIwEAYDVQQKEwlUQUlXQU4tQ0ExEDAO
			BgNVBAsTB1Jvb3QgQ0ExHDAaBgNVBAMTE1RXQ0EgR2xvYmFsIFJv
			b3QgQ0E=
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			DL4=
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>A8F2DFE36AE0CC2DB9DD38347D30AED9551DD25A</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>AB702CDF18EBE8B438C52869CD4A5DEF48B40E33</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>AE3F2E66D48FC6BD1DF131E89D768D505DF14302</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>B0B68AE97CFE2AFACD0DC2010B9D70ACE593E8A6</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>B94294BF91EA8FB64BE61097C7FB001359B676CB</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>B9C9F58B3BBEF575E2B58328770E7B0076C40B5E</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>C59DD79CC42245AC7216FDC18524F7D1E4CF1E92</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>C864484869D41D2B0D32319C5A62F9315AAF2CBD</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>CE335662F0EA6764B95C7F50A995A514ACE8C815</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>CF9E876DD3EBFC422697A3B5A37AA076A9062348</key>
		<dict>
			<key>issuerName</key>
			<data>
			MF8xCzAJBgNVBAYTAlRXMRIwEAYDVQQKDAlUQUlXQU4tQ0ExEDAO
			BgNVBAsMB1Jvb3QgQ0ExKjAoBgNVBAMMIVRXQ0EgUm9vdCBDZXJ0
			aWZpY2F0aW9uIEF1dGhvcml0eQ==
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			AQ==
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>D27AD2BEED94C0A13CC72521EA5D71BE8119F32B</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>D6DAA8208D09D2154D24B52FCB346EB258B28A58</key>
		<dict>
			<key>issuerName</key>
			<data>
			MEcxCzAJBgNVBAYTAkhLMRYwFAYDVQQKEw1Ib25na29uZyBQb3N0
			MSAwHgYDVQQDExdIb25na29uZyBQb3N0IFJvb3QgQ0EgMQ==
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			A+g=
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>D8EFF6C28BB508E4702565F42748454A872BD412</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>DC6EE6EDC4C078E1B2C12F6D1985000E27CFD318</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>DD83C519D43481FAD4C22C03D702FE9F3B22F517</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>DF646DCB7B0FD3A96AEE88C64E2D676711FF9D5F</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>E0925E18C7765E22DABD9427529DA6AF4E066428</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>E2B8294B5584AB6B58C290466CAC3FB8398F8483</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>E3D569137E603E7BACB6BCC66AE943850C8ADF38</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>EABDA240440ABBD694930A01D09764C6C2D77966</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>F468B5F3FED807974476A22B32EA3137D924F7BA</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>F48B11BFDEABBE94542071E641DE6BBE882B40B9</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>F6BEADB9BC02E0A152D71C318739CDECFC1C085D</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>FAD4319D4E173FF3853E51C98D21919BF3DA1A1E</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>FBEDDC9065B7272037BC550C9C56DEBBF27894E1</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2015-03-30T09:26:57Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>trustVersion</key>
	<integer>1</integer>
</dict>
</plist>
