<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>trustList</key>
	<dict>
		<key>0B972C9EA6E7CC58D93B20BF71EC412E7209FABF</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>0F36385B811A25C39B314E83CAE9346670CC74B4</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>15C1776480382DEEFC869C2DA7F5BA8626B8A029</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>1632478D89F9213A92008563F5A4A7D312408AD6</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>1C1ECDCCF764E6168177C5711F33EC9229A29F88</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>2290C311EA0F3F57E06DF45B698E18E828E59BC3</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>27A29C3A8B3261770E8B59448557DC9E9339E68C</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>27D5BBE04301E1604839708D172CF09296ED9033</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>28F97816197AFF182518AA44FEC1A0CE5CB64C8A</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>30F3B3ADC6E570BDA606B9F96DE24190CE262C67</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>3120F295417730075F8CD42D0CAE008EB5726EF8</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>316076F2866588DBB233C7F9EB68B58125150C21</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>31F1FD68226320EEC63B3F9DEA4A3E537C7C3917</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>337DF96418F08A9355870513AFCEBDC68BCED767</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>33A4D8BC38608EF52EF0E28A35091E9250907FB9</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>381CBC5048AFD9A02D3E5882D5F22D962B1A5F72</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>38CFE78D9F1F0B0637AFCAAA3D5549D87C0AA1D0</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>3E14B8BD6C568657D852D95D387249AE857B4A39</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>3E2BF7F2031B96F38CE6C4D8A85D3E2D58476A0F</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>46A762F3C3CF3732DE22A8BA1EBBA3BC048F9B8C</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>4F99AA93FB2BD13726A1994ACE7FF005F2935D1E</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>561422647B89BE22F203EBCAEF52B5007227510A</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>56FAADDC596DCF78D585D83A35BC04B690D12736</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>5B562E002F15E1617C416D1960218544C18F36B7</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>66F2DCFB3F814DDEE9B3206F11DEFE1BFBDFE132</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>6856BB1A6C4F76DACA362187CC2CCD484EDDC25D</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>689A1229D698D172E99E1BF00B9C19854119C9FC</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>692790DA5189529CC5CE1E16E984277A03023E99</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>6A174570A916FBE84453EED3D070A1D8DA442829</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>6D5A18050D56BFDE525CBE89E8C45DD1B53D12E9</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>73FFCA3F815B7A77717FE91912A4DC7B6BFB79CA</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>742CA08594ABA62CE76E94386EA75A98712F02EA</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>7514436E903C901069980499CA70DE74FC06C83C</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>75F411595FE9A21A17A4967C7B666E5152791A32</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>7A4AA61E2A88704115E47748D8647DAEE6837559</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>7C1913D189C46577D7513F980A2CFD7EDCBA0EC9</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>804E5FB7DE84F5F5B28347233EAF07846B6070D3</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>8250BED5A214433A66377CBC10EF83F669DA3A67</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>868241C8B85AF79E2DAC79EDADB723E82A36AFC3</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>87DD1B740366A877FD28BF7ED709F4ACE1FA43A5</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>8BAF4C9B1DF02A92F7DA128EB91BACF498604B6F</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>8E207F5DC0A69AA337658D2367433EC27D8506D0</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>8EDCEE98F5788D38B8D8AD0E0C6137A6FBD1666D</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>A3A1B06F2461234AE336A5C237FCA6FFDDF0D73A</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>A3F1333FE242BFCFC5D14E8F394298406810D1A0</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>A8F2DFE36AE0CC2DB9DD38347D30AED9551DD25A</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>AB702CDF18EBE8B438C52869CD4A5DEF48B40E33</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>AF8484379E2A512CE9074AEBD6B900ED11A70DF7</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>B0B68AE97CFE2AFACD0DC2010B9D70ACE593E8A6</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>B2FBDA222493A93C38F77C90D4BE6DA17F15F0B0</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>B39191CFF08EB6FD8B447C21CAAEF6FC33F1D5AE</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>B51085D95B95DA912012D2C3B0019A2DC46D26E3</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>B94294BF91EA8FB64BE61097C7FB001359B676CB</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>B9C9F58B3BBEF575E2B58328770E7B0076C40B5E</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>BCF8FDFBD8A8501D603A90356566C93BC83372EE</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>C0CDBE86C539F0A8BEAD82D82DF01B4DDA6FA349</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>C59DD79CC42245AC7216FDC18524F7D1E4CF1E92</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>C864484869D41D2B0D32319C5A62F9315AAF2CBD</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>CAF415BAC356D194DA6FE89ECCB49DF4A216EACE</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>CE335662F0EA6764B95C7F50A995A514ACE8C815</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>CF37A5B5C9166BD6B57A56BF67165A584B057241</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>D1F58CDB9194A374AC91DAADD411FEB99C434CC9</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>D27AD2BEED94C0A13CC72521EA5D71BE8119F32B</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>D8EFF6C28BB508E4702565F42748454A872BD412</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>DC6EE6EDC4C078E1B2C12F6D1985000E27CFD318</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>E2B8294B5584AB6B58C290466CAC3FB8398F8483</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>E3D569137E603E7BACB6BCC66AE943850C8ADF38</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>EABDA240440ABBD694930A01D09764C6C2D77966</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>EB466CD37565F93CDE1062CD8D9826ED23730F12</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>F02B70BDE4EAE02B207377B9FD4785E4C9CC55DC</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>F468B5F3FED807974476A22B32EA3137D924F7BA</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>F6BEADB9BC02E0A152D71C318739CDECFC1C085D</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>FAD4319D4E173FF3853E51C98D21919BF3DA1A1E</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>FAEE1F690EDD55373C35E491EF0514F3EE9445A5</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>FBEDDC9065B7272037BC550C9C56DEBBF27894E1</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<key>FD17DA1458D3514592C4F9544A6EA960B373E877</key>
		<dict>
			<key>issuerName</key>
			<data>
			</data>
			<key>modDate</key>
			<date>2017-08-06T14:14:09Z</date>
			<key>serialNumber</key>
			<data>
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>trustVersion</key>
	<integer>1</integer>
</dict>
</plist>
